    header {
        display: flex; 
        flex-direction: column; 
        align-items: center; 
        gap: 16px;
    }

    h1 {
        font-size: 20px;
    }

    main {
        display: flex; 
        flex-direction: column; 
        align-items: center; 
        gap: 16px;
    }

    div {
        width: 500px; 
        height: 656px;  
        display: flex; 
        flex-direction: column; 
        align-items: center;
    }

    label {
        display: flex; 
        flex-direction: column; 
        align-items: center; 
        gap: 16px;
    }

    footer {
        background: #46A358; 
        width: 500px; 
        height: 10px;
    }