/*
Thin       - 100
ExtraLight - 200
Light      - 300
Regular    - 400
Medium     - 500
SemiBold   - 600
Bold       - 700
ExtraBold  - 800
Black      - 900
*/

@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: 'Cera Pro Regular';
    src: url('../fonts/CeraPro-Regular.eot');
    src: local('CeraPro-Regular'), local('CeraPro-Regular'),
        url('../fonts/CeraPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CeraPro-Regular.woff2') format('woff2'),
        url('../fonts/CeraPro-Regular.woff') format('woff'),
        url('../fonts/CeraPro-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Cera Pro Medium';
    src: url('../fonts/CeraPro-Medium.eot');
    src: local('CeraPro-Medium'), local('CeraPro-Medium'),
        url('../fonts/CeraPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CeraPro-Medium.woff2') format('woff2'),
        url('../fonts/CeraPro-Medium.woff') format('woff'),
        url('../fonts/CeraPro-Medium.ttf') format('truetype');
}

    @font-face {
    font-family: 'Cera Pro Bold';
    src: url('../fonts/CeraPro-Bold.eot');
    src: local('CeraPro-Bold'), local('CeraPro-Bold'),
        url('../fonts/CeraPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CeraPro-Bold.woff2') format('woff2'),
        url('../fonts/CeraPro-Bold.woff') format('woff'),
        url('../fonts/CeraPro-Bold.ttf') format('truetype');
}

    @font-face {
    font-family: 'Cera Pro Black';
    src: url('../fonts/CeraPro-Black.eot');
    src: local('CeraPro-Bold'), local('CeraPro-Black'),
        url('../fonts/CeraPro-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CeraPro-Black.woff2') format('woff2'),
        url('../fonts/CeraPro-Black.woff') format('woff'),
        url('../fonts/CeraPro-Black.ttf') format('truetype');
}

div.container{
    padding: 30px 120px 20px;
    display: flex;
    flex-direction: column;
}

header.header{
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

menu.menu{
    display: flex;
    gap: 50px;
}

li.menu-item{
    position: relative;
    color: #3D3D3D;
    font-family: "Cera Pro Regular";
    font-size: 16px;
    padding: 8px 0px 25px;
    border-bottom: 3px solid transparent;
    list-style: none;
}

/* Invisible text to prevent content jump on hover. */
.menu-item::before{
    content: attr(data-text);
    font-family: "Cera Pro Bold";
    visibility: hidden;
    height: 0;
    overflow: hidden;
    display: block;
}

li.menu-item:hover{
    font-family: "Cera Pro Bold";
    border-color: #46A358;
}

.menu-item-active:hover .sub-list{
    display: block;
}

.sub-list{
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    padding-top: 20px;
    /* Set minimum width to prevent text jumping on hover */
    min-width: 220px;
    z-index: 1;
}

.sub-list-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    color: #3D3D3D;
    font-family: "Encode Sans Expanded";
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    background: #EDF6EE;
    padding: 8px 14px;
    gap: 90px;
}

.sub-list-item:hover{
    background: #1A712A;
    color: #FFF;
    font-family: "Encode Sans Expanded";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.sub-list-item:hover > svg path{
    fill: #FFF;
}

.active-item:hover .sub-sub-list{
    display: block;
}

.active-item:hover svg{
    transform: rotate(180deg);
}

.sub-sub-list{
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    list-style: none;
    padding-top: 20px;
    /* Set minimum width to prevent text jumping on hover */
    min-width: 200px;
    z-index: 3;
}

.sub-sub-list-item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #3D3D3D;
    font-family: "Encode Sans Expanded";
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    background: #EDF6EE;
    padding: 8px 14px;
    cursor: pointer;
    white-space: nowrap;
}

.sub-sub-list-item:hover{
    background: #1A712A;
    color: #FFF;
    font-weight: 700;
}

button.header-button{
    padding: 8px 17px;
    border-radius: 6px;
    background: #46A358;
    display: flex;
    align-items: center;
    gap: 4px;
    color: #FFFFFF;
    font-family: "Cera Pro Regular";
    border: none;
    cursor: pointer;
}

main.main{
    background: linear-gradient(98deg, rgba(245, 245, 245, 0.50) -23.46%, rgba(245, 245, 245, 0.50) 107.51%);
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.div-text{
    padding: 70px 100px 85px 40px;
}

p.p-welcome{
    color: #3D3D3D;
    font-family: "Cera Pro Regular";
    line-height: 16px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
}

h1{
    color: #3D3D3D;
    font-family: "Cera Pro Black";
    font-size: 70px;
    line-height: 70px;
    text-transform: uppercase;
    margin-top: 7px;
}

span.span-greenword{
    color: #46A358;
}

p.p-text{
    color: #727272;
    font-family: "Cera Pro Regular";
    font-size: 14px;
    line-height: 24px;
    margin-top: 7px;
}

button.shop-button{
    border-radius: 6px;
    border: none;
    background: #46A358;
    padding: 10px 27px;
    color: #FFF;
    font-family: "Cera Pro Bold";
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    margin-top: 40px;
}

.div-pictures{
    position: relative;
}

.img-small{
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
}

/*    
Homework 7.float on Figma
*/

div.page{
    margin-top: 45px;
    display: flex;
    flex-direction: row;
    gap: 50px;
}

aside.left-side{
    display: flex;
    flex-direction: column;
}

div.categories{
    background: #fbfbfb;
    padding: 14px 18px;
}

/* Trying to make price range */
.price-ranger{
    background: #fbfbfb;
    padding: 14px 18px;
}

.input-range{
    width: 100%;
    display: block;
    cursor: pointer;
}

.price-display {
    margin-top: 29px;
    color: #3D3D3D;
    font-family: "Cera Pro Regular";
    font-size: 15px;
}

.green-price {
    color: #46a358;
    font-family: "Cera Pro Bold";
    font-size: 15px;
}

.button-filter{
    border: none;
    padding: 8px 26px;
    margin-top: 24px;
    border-radius: 6px;
    background: #46A358;
    color: #FFF;
    font-family: "Cera Pro Bold";
    font-size: 16px;
}

h2{
    color: #3D3D3D;
    font-family: "Cera Pro Bold";
    font-size: 18px;
    margin-bottom: 15px;
}

div.checkbox-menu{
    padding: 0 12px;
}

img.banner{
    width: 310px;
}

/*
CSS for custom chechboxes
*/
.custom-checkbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 10px 0px;
}

.custom-checkbox input{
    display: none;
}

div.checkbox-menu span{
    color: #3D3D3D;
    font-family: "Cera Pro Regular";
    font-size: 15px;
    
}

.custom-checkbox input:checked ~ span{
    color: #46A358;
    font-family: "Cera Pro Bold";
    font-size: 15px;;
}
/*
CSS for custom chechboxes END
*/

div.plant-content{
    display: flex;
    flex-direction: column;
}

div.toolbar{
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

div.menu-two{
    display: flex;
    gap: 40px;
    cursor: pointer;
}

li.menu-item-two{
    color: #3D3D3D;
    font-family: "Cera Pro Regular";
    font-size: 15px;
    padding: 0px 0px 7px;
    border-bottom: 3px solid transparent;
    list-style: none;
}

li.menu-item-two.active{
    font-family: "Cera Pro Bold";
    font-size: 15px;
    border-color: #46A358;
}

/*
Sorting items - select
*/
div.sort{
    display: flex;
    color: #3D3D3D;
    font-family: "Cera Pro Regular";
    font-size: 15px;
    gap: 8px;
    cursor: pointer;
}

/*
Items
*/
div.products{
    display: flex;
    flex-wrap: wrap;
    gap: 70px 37px;
}

div.img-container{
    padding: 20px 4px;
    background: #fbfbfb;
    position: relative;
}

/* homework 9 - position */
div.product-card{
    border-top: 1px solid transparent;
}

div.product-card:hover{
    border-top: 1px solid #46A358;
}

div.product-card:hover .product-card-buttons{
    opacity: 1;
    pointer-events: auto;
}

/* homework009 */
.product-card-buttons{
    position: absolute;
    margin-bottom: 7px;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    pointer-events: none;
    transition: opacity .2s;
}

.card-button{
    border-radius: 4px;
    background: #fff;
    border: none;
    height: 35px;
}

.card-button:hover svg path{
    fill: green;
}

.discount-block{
    position: absolute;
    margin-top: 14px;
    background: #46A358;
    padding: 7px 9px;
    color: #FFF;
    font-family: "Cera Pro Medium";
    font-size: 16px;
    top: 0%;
    left: 0;
}

div.product-card img{
/* Fixed height for identity */
    height: 250px;
    object-fit: cover;
}

h3{
    color: #3D3D3D;
    font-family: "Cera Pro Regular";
    font-size: 16px;
    margin-top: 12px;
}

.price{
    color: #46A358;
    font-family: "Cera Pro Bold";
    font-size: 18px;
    margin-top: 6px;
}

.old-price{
    margin-left: 16px;
    color: #A5A5A5;
    font-family: "Cera Pro Regular";
    font-size: 18px;
    text-decoration: line-through;
}

div.page-nav{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-top: 90px;
}

div.page-nav button{
    border-radius: 4px;
    border: 1px solid #E5E5E5;
    cursor: pointer;
    color: #3D3D3D;
    font-family: "Cera Pro Regular";
    font-size: 18px;
    padding: 9px 11px;
    min-width: 43px;
}

.page-button.active{
    background: #46A358;
    color: #FFF;
    font-family: "Cera Pro Bold";
    font-size: 18px;
    cursor: pointer;
}

/* homework008 */
div.o-two{
    margin-top: 94px;
    display: flex;
    justify-content: space-around;
    gap: 28px;
}

div.o-two-card{
    padding: 37px 35px 46px;
    background: #FBFBFB;
    display: flex;
    flex-direction: column;
    align-items: end;
    position: relative;
}

h4{
    text-align: right;
    width: 40%;
    color: #3D3D3D;
    font-family: "Cera Pro Black";
    font-size: 18px; 
    text-transform: uppercase;
}

div.o-two-card > p{
    color: #727272;
    font-family: "Cera Pro Regular";
    font-size: 14px;
    width: 60%;
    text-align: right;
    margin-top: 9px;
}

div.o-two-card > button{
    padding: 11px 28px;
    margin-top: 25px;
    color: #FFF;
    font-family: "Cera Pro Medium";
    font-size: 14px;
    background-color: #46A358;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 6px;
}

div.o-two-card > img{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 292px;
}

section.blog{
    margin-top: 138px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header.header-blog{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h5{
    color: #3D3D3D;
    text-align: center;
    font-family: "Cera Pro Bold";
    font-size: 30px;
}

header.header-blog > p{
    margin-top: 15px;
    color: #727272;
    text-align: center;
    font-family: "Cera Pro Regular";
    font-size: 14px;
}
div.card-blog{
    margin-top: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 43px;
}

div.card-content{
    display: flex;
    flex-direction: column;
    
}

img.img-blog{
    width: 268px;
}

div.card-content-text{
    display: flex;
    flex-direction: column;
    align-items: self-start;
    max-width: 268px;
    padding: 9px 15px;
}

span.content-data{
    color: #46A358;
    font-family: 'Cera Pro Medium';
    font-size: 14px;
}

h6{
    margin-top: 4px;
    color: #3D3D3D;
    font-family: "Cera Pro Bold";
    font-size: 20px;
}

p.content-review{
    margin-top: 4px;
    color: #727272;
    font-family: "Cera Pro Regular";
    font-size: 14px;
}

button.button-content{
    margin-top: 9px;
    padding: 0;
    color: #3D3D3D;
    background: none;
    font-family: "Cera Pro Medium";
    font-size: 14px;
    display: flex;
    align-items: center;
    border: none;
    cursor: pointer;
}

button.button-content.active{
    color: #46A358;
}

button.button-content.active > svg path{
    fill: #46A358;
}

/* homework 11 */
.footer{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background: #FBFBFB;
}

.footer-top{
    display: flex;
    justify-content: space-around;
    gap: 5px;
}

.partition-footer-top-little{
    margin: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.partition-footer-top-big {
  margin: 25px;
}

.divider{
    margin-top: 31px;
    width: 1px;
    height: 187px;
    background: rgba(70, 163, 88, 0.1);
}

.divider-hidden{
    visibility: hidden;
    width: 1px;
    height: 187px;
    background: rgba(70, 163, 88, 0.1);
    align-self: center; 
}


.background-three-svg-one{
    width: 77px;
    height: 96px;
    background:
    url(../images/001frame_plant.svg) no-repeat top right/ 75%,
    url(../images/001frame_pot.svg) no-repeat bottom 3px right/ 75%,
    url(../images/000frame_round.svg) no-repeat bottom / contain;
}

.background-three-svg-two{
    width: 83px;
    height: 93px;
    background:
    url(../images/002frame_plant.svg) no-repeat top right 15px/ 45%,    
    url(../images/002frame_pot.svg) no-repeat bottom 3px right/ 80%,
    url(../images/000frame_round.svg) no-repeat bottom / 95%
}

.background-three-svg-three{
    width: 90px;
    height: 92px;
    background:
    url(../images/003frame_plant.svg) no-repeat top right 10px / 50%,
    url(../images/003frame_pot.svg) no-repeat bottom 5px right / 85%,
    url(../images/000frame_round.svg) no-repeat bottom left / 85%
}

.h-footer-17{
    margin-top: 18px;
    color: #3D3D3D;
    font-family: "Cera Pro Bold";
    font-size: 17px;
}

.h-footer-18{
    margin-top: 13px;
    color: #3D3D3D;
    font-family: "Cera Pro Bold";
    font-size: 18px;
}

.p-footer-14{
    margin-top: 14px;
    color: #727272;
    font-family: "Cera Pro Regular";
    font-size: 14px;
}

.p-footer-13{
    margin-top: 18px;
    color: #727272;
    font-family: "Cera Pro Regular";
    font-size: 13px;
}

.email-form{
    margin-top: 25px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.06);
}

.email-form input {
    padding: 12px;
    flex-grow: 1;
    border: none;
    border-radius: 6px 0 0 6px;
    font-size: 14px;
    background: #FFF;
}

.email-form button {
    background-color: #46A358;
    padding: 12px 25px;
    border: none;
    cursor: pointer;
    border-radius: 0 6px 6px 0;
    color: #FFF;
    font-family: "Cera Pro Bold";
    font-size: 18px;
}

.footer-middle{
    height: 88px;
    background: linear-gradient(90deg, #EDF6EF 0%, #52C368 100%);
    display: flex;
    align-items: center;
    gap: 130px;
    justify-content: space-between;
}

.footer-middle-svg{
    margin: 25px;
}

.footer-middle-adresse-text, .footer-middle-email-text, .footer-middle-number-text{
    color: #3D3D3D;
    font-family: "Cera Pro Regular";
    font-size: 14px;
}

.footer-middle-adresse, .footer-middle-email, .footer-middle-number{
    margin: 25px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-bottom{
    background: #FBFBFB;
    display: flex;
    flex-direction: row;
    gap: 130px;
}

.footer-bottom-h{
    color: #3D3D3D;
    font-family: "Cera Pro Bold";
    font-size: 18px;
}

.footer-bottom-account, .footer-bottom-help, .footer-bottom-categories, .footer-bottom-social{
    margin: 30px;
}

.footer-bottom-icons{
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.footer-bottom-h-accept{
    margin-top: 33px;
    color: #3D3D3D;
    font-family: "Cera Pro Bold";
    font-size: 18px;
}

.footer-bottom-img-payments{
    margin-top: 13px;
}

.footer-bottom-ul li{
    color: #3D3D3D;
    font-family: "Cera Pro Regular";
    font-size: 14px;
    line-height: 30px;
}

.footer-copyright{
    margin-top: 7px;
    align-self: center;
    color: #3D3D3D;
    font-family: "Cera Pro Regular";
    font-size: 14px;
}

/* preloader? */

.overlay-preloader {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 9999;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.overlay-preloader.active {
    display: flex;
    opacity: 1;
}

.loader-content {
    text-align: center;
    font-family: "Cera Pro Bold";
}

.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: 0 auto 15px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Homework 14 */

/* Laptop 1440 */
@media (max-width: 1440px){
    div.container{
        max-width: 100%;
    }
    menu.menu{
        gap: 30px;
    }
    div.page{
        margin-top: 40px;
        gap: 40px;
    }
    .div-text{
        padding: 50px 60px 40px 20px;
    }
    h1{
        font-size: 60px;
    }
    div.product-card img {
        height: 180px;
    }
    img.img-blog {
        width: 160px;
    }
    h6 {
        font-size: 16px;
    }
    .h-footer-17 {
        font-size: 16px;
    }
    .footer-middle {
        height: 80px;
        gap: 20px;
    }
    .footer-bottom {
        gap: 30px;
    }
    .footer-bottom-h {
        font-size: 16px;
    }
    .footer-bottom-ul li {
        font-size: 12px;
        line-height: 1.6;
    }
}

/* Laptop 1024 */
@media (max-width: 1024px){
    div.container{
        max-width: 100%;
    }
    menu.menu{
        gap: 20px;
    }
    header > svg{
        width: 120px;
        height: auto;
    }
    div.page{
        margin-top: 35px;
        gap: 30px;
    }
    .div-text{
        padding: 20px 10px;
    }
    h1{
        font-size: 40px;
        line-height: 1.2;
    }
    p.p-text{
        font-size: 12px;
        line-height: 1.5;
    }
    button.shop-button {
        font-size: 14px;
        line-height: 1.4;
        margin-top: 20px;
    }
    .img-big{
        max-width: 100%;
        height: auto;
    }

    .img-small{
        max-width: 100%;
        height: auto;
    }
        div.categories {
        padding: 10px;
    }
    img.banner {
        width: 200px;
    }
    div.toolbar {
        flex-wrap: wrap;
    }
    div.menu-two {
        gap: 20px;   
    }
    li.menu-item-two.active {
        font-size: 12px;
    }
    li.menu-item-two {
        font-size: 12px;
    }
    div.sort {
        font-size: 12px;
    }
    div.product-card img {
        height: 110px;
    }
    div.products {
        gap: 40px 20px;
    }
    div.o-two-card > img {
        height: 180px;
    }
    img.img-blog {
        width: 146px;
    }
    .divider{
        display: none;
    }
    .divider-hidden{
        display: none;
    }
    .partition-footer-top-little {
        margin: 15px;
    }
    .footer-middle-svg {
        display: none;
    }
    .email-form input {
        padding: 10px;
        font-size: 10px;
    }
    .email-form button {
        padding: 10px 20px;
        font-size: 14px;
    }
    .partition-footer-top-big {
        margin: 15px;
    }
}

@media (max-width: 930px){
    div.o-two-card > img {
        display: none;
    }
    div.o-two-card {
        padding: 30px;
    }
    h4 {
        text-align: left;
    }
    div.o-two-card > p {
        text-align: left;
    }
    div.o-two-card {
        flex-direction: column;
        align-items: baseline;
        position: relative;
    }
    div.card-blog {
        gap: 10px;
    }
    .footer-bottom {
        gap: 10px;
    }
    .footer-bottom {
        flex-wrap: wrap
    }
    .footer-top {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}

/* Tablet 768 */
@media (max-width: 768px){
    h1 {
        font-size: 30px;
        line-height: 1.2;
    }
    div.container{
        padding: 20px;
    }
    header.header {
        margin-bottom: 12px;
        align-items: stretch;
        flex-direction: column;
    }
    div.card-blog {
        margin-top: 35px;
        display: flex;
        flex-direction: column;
    }
    div.card-content {
        align-items: center;
    }
    div.card-content-text {
        max-width: 100%;
    }
    div.card-content {
        display: flex;
        flex-direction: row;
    }
    .footer-middle {
        height: auto;
        gap: 0;
        flex-direction: column;
    }
}

@media (max-width: 555px){
    div.container {
        padding: 10px;
    }
    div.products {
        flex-direction: column;
    }
    .div-pictures {
        display: none;
    }
    div.page{
        gap: 5px;
    }
    div.products {
        gap: 30px;
        flex-direction: column;
    }
    img.banner {
        width: 150px;
    }
    div.page-nav {
        flex-direction: column;
    }
    div.o-two-card {
        padding: 10px;
    }
}

/* Mobile 320 */
@media (max-width: 320px){
    div.container {
        padding: 5px;
    }
}