   /*

Thin       - 100
ExtraLight - 200
Light      - 300
Regular    - 400
Medium     - 500
SemiBold   - 600
Bold       - 700
ExtraBold  - 800
Black      - 900

   */
   
   
   @font-face {
        font-family: 'Cera Pro Regular';
        src: url('../fonts/CeraPro-Regular.eot');
        src: local('CeraPro-Regular'), local('CeraPro-Regular'),
            url('../fonts/CeraPro-Regular.eot?#iefix') format('embedded-opentype'),
            url('../fonts/CeraPro-Regular.woff2') format('woff2'),
            url('../fonts/CeraPro-Regular.woff') format('woff'),
            url('../fonts/CeraPro-Regular.ttf') format('truetype');
   }

    @font-face {
        font-family: 'Cera Pro Medium';
        src: url('../fonts/CeraPro-Medium.eot');
        src: local('CeraPro-Medium'), local('CeraPro-Medium'),
            url('../fonts/CeraPro-Medium.eot?#iefix') format('embedded-opentype'),
            url('../fonts/CeraPro-Medium.woff2') format('woff2'),
            url('../fonts/CeraPro-Medium.woff') format('woff'),
            url('../fonts/CeraPro-Medium.ttf') format('truetype');
   }

       @font-face {
        font-family: 'Cera Pro Bold';
        src: url('../fonts/CeraPro-Bold.eot');
        src: local('CeraPro-Bold'), local('CeraPro-Bold'),
            url('../fonts/CeraPro-Bold.eot?#iefix') format('embedded-opentype'),
            url('../fonts/CeraPro-Bold.woff2') format('woff2'),
            url('../fonts/CeraPro-Bold.woff') format('woff'),
            url('../fonts/CeraPro-Bold.ttf') format('truetype');
   }
    
    header {
        display: flex; 
        flex-direction: column; 
        align-items: center; 
        gap: 16px;
    }

    h1 {
        font-size: 20px;
        color: #3D3D3D;
        font-family: 'Cera Pro Regular', sans-serif;
    }

    main {
        display: flex; 
        flex-direction: column; 
        align-items: center; 
        gap: 16px;
    }

    div {
        width: 500px; 
        height: 656px;  
        display: flex; 
        flex-direction: column; 
        align-items: center;
    }

    label {
        display: flex; 
        flex-direction: column; 
        align-items: center; 
        gap: 16px;
    }

    p {
        color: #3D3D3D;
        font-size: 13px;
    }

    span {
        color: #3D3D3D; 
    }

    input, .register, .google, .facebook {
        border-radius: 5px;
    }

    input, .google, .facebook {  
        width: 300px;
        height: 40px;
    }

    .register {
        width: 300px;
        height: 45px;
        background: #46A358;
    }

    .textline_enter {
        font-size: 13px; 
        margin-top: 40px;
    }

    .registercolor {
        color: #46A358;
    }

    footer {
        margin-top: 40px;
        background: #46A358; 
        width: 500px; 
        height: 10px;
    }

    /*

    *{} - не имеет веса = 00000
Для всех элементов. Как правило, чтобы обнулить какие-то дефолтные стили браузера.

Селекторы тэга p, селекторы псевдоэлементов ::placeholder - вес - 00001

селектор класса .class, селектор псевдокласса :hover, селектор аттрибута [type = 'text'] - вес = 00010

селектор айди #id - вес = 00100"
Но айди в основном используются для взаимодействия с JavaScript.
Через CSS - лучше не использовать.

style attribute - указывется непосредственно на тэге - вес = 01000

Правило !important - вес = 10000
Много проблем с данным правилом. Не использовать.
    
    */