/*
Thin       - 100
ExtraLight - 200
Light      - 300
Regular    - 400
Medium     - 500
SemiBold   - 600
Bold       - 700
ExtraBold  - 800
Black      - 900
*/

@font-face {
    font-family: 'Cera Pro Regular';
    src: url('../fonts/CeraPro-Regular.eot');
    src: local('CeraPro-Regular'), local('CeraPro-Regular'),
        url('../fonts/CeraPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CeraPro-Regular.woff2') format('woff2'),
        url('../fonts/CeraPro-Regular.woff') format('woff'),
        url('../fonts/CeraPro-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Cera Pro Medium';
    src: url('../fonts/CeraPro-Medium.eot');
    src: local('CeraPro-Medium'), local('CeraPro-Medium'),
        url('../fonts/CeraPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CeraPro-Medium.woff2') format('woff2'),
        url('../fonts/CeraPro-Medium.woff') format('woff'),
        url('../fonts/CeraPro-Medium.ttf') format('truetype');
}

    @font-face {
    font-family: 'Cera Pro Bold';
    src: url('../fonts/CeraPro-Bold.eot');
    src: local('CeraPro-Bold'), local('CeraPro-Bold'),
        url('../fonts/CeraPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CeraPro-Bold.woff2') format('woff2'),
        url('../fonts/CeraPro-Bold.woff') format('woff'),
        url('../fonts/CeraPro-Bold.ttf') format('truetype');
}

    @font-face {
    font-family: 'Cera Pro Black';
    src: url('../fonts/CeraPro-Black.eot');
    src: local('CeraPro-Bold'), local('CeraPro-Black'),
        url('../fonts/CeraPro-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CeraPro-Black.woff2') format('woff2'),
        url('../fonts/CeraPro-Black.woff') format('woff'),
        url('../fonts/CeraPro-Black.ttf') format('truetype');
}


div.container{
    padding: 30px 120px 20px;
    display: flex;
    flex-direction: column;
}

header.header{
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

menu.menu{
    display: flex;
    gap: 50px;
}

li.menu-item{
    color: #3D3D3D;
    font-family: "Cera Pro Regular";
    font-size: 16px;
    padding: 8px 0px 25px;
    border-bottom: 3px solid transparent;
    list-style: none;
}

li.menu-item.active{
    font-family: "Cera Pro Bold";
    border-color: #46A358;
}

button.header-button{
    padding: 8px 17px;
    border-radius: 6px;
    background: #46A358;
    display: flex;
    align-items: center;
    gap: 4px;
    color: #FFFFFF;
    font-family: "Cera Pro Regular";
    border: none;
}

main.main{
    background: linear-gradient(98deg, rgba(245, 245, 245, 0.50) -23.46%, rgba(245, 245, 245, 0.50) 107.51%);
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.div-text{
    padding: 70px 100px 85px 40px;
}

p.p-welcome{
    color: #3D3D3D;
    font-family: "Cera Pro Regular";
    line-height: 16px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
}

h1{
    color: #3D3D3D;
    font-family: "Cera Pro Black";
    font-size: 70px;
    line-height: 70px;
    text-transform: uppercase;
    margin-top: 7px;
}

span.span-greenword{
    color: #46A358;
}

p.p-text{
    color: #727272;
    font-family: "Cera Pro Regular";
    font-size: 14px;
    line-height: 24px;
    margin-top: 7px;
}

button.shop-button{
    border-radius: 6px;
    border: none;
    background: #46A358;
    padding: 10px 27px;
    color: #FFF;
    font-family: "Cera Pro Bold";
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    margin-top: 40px;
}

.div-pictures{
    position: relative;
}

.img-small{
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
}

/*    
Homework 7.float on Figma
*/

div.page{
    margin-top: 45px;
    display: flex;
    flex-direction: row;
    gap: 50px;
}

aside.left-side{
    display: flex;
    flex-direction: column;
}

div.categories{
    background: #fbfbfb;
    padding: 14px 18px;
}

div.categories > h2{
    color: #3D3D3D;
    font-family: "Cera Pro Bold";
    font-size: 18px;
    margin-bottom: 15px;
}

div.checkbox-menu{
    padding: 0 12px;
    margin-bottom: 360px;
}

img.banner{
    width: 310px;
}

/*
CSS for custom chechboxes
*/
.custom-checkbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 10px 0px;
}

.custom-checkbox input{
    display: none;
}

div.checkbox-menu span{
    color: #3D3D3D;
    font-family: "Cera Pro Regular";
    font-size: 15px;
    
}

.custom-checkbox input:checked ~ span {
    color: #46A358;
    font-family: "Cera Pro Bold";
    font-size: 15px;;
}
/*
CSS for custom chechboxes END
*/

div.plant-content{
    display: flex;
    flex-direction: column;
}

div.toolbar{
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

div.menu-two{
    display: flex;
    gap: 40px;
    cursor: pointer;
}

li.menu-item-two{
    color: #3D3D3D;
    font-family: "Cera Pro Regular";
    font-size: 15px;
    padding: 0px 0px 7px;
    border-bottom: 3px solid transparent;
    list-style: none;
}

li.menu-item-two.active{
    font-family: "Cera Pro Bold";
    font-size: 15px;
    border-color: #46A358;
}

/*
Sorting items - select
*/
div.sort{
    display: flex;
    color: #3D3D3D;
    font-family: "Cera Pro Regular";
    font-size: 15px;
    gap: 8px;
    cursor: pointer;
}

/*
Items
*/
div.products{
    display: flex;
    flex-wrap: wrap;
    gap: 70px 37px;
}

div.img-container{
    padding: 20px 4px;
    background: #fbfbfb;
    position: relative;
}

/* homework 9 - position */
div.product-card{
    border-top: 1px solid transparent;
}

div.product-card:hover{
    border-top: 1px solid #46A358;
}

div.product-card:hover .product-card-buttons{
    opacity: 1;
    pointer-events: auto;
}

/* homework009 */
.product-card-buttons{
    position: absolute;
    margin-bottom: 7px;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    pointer-events: none;
    transition: opacity .2s;
}

.card-button{
    border-radius: 4px;
    background: #fff;
    border: none;
    height: 35px;
}

.card-button:hover svg path{
    fill: green;
}

.discount-block{
    position: absolute;
    margin-top: 14px;
    background: #46A358;
    padding: 7px 9px;
    color: #FFF;
    font-family: "Cera Pro Medium";
    font-size: 16px;
    top: 0%;
    left: 0;
}

div.product-card img{
/* Fixed height for identity */
    height: 250px;
    object-fit: cover;
}

h3{
    color: #3D3D3D;
    font-family: "Cera Pro Regular";
    font-size: 16px;
    margin-top: 12px;
}

.price{
    color: #46A358;
    font-family: "Cera Pro Bold";
    font-size: 18px;
    margin-top: 6px;
}

.old-price{
    margin-left: 16px;
    color: #A5A5A5;
    font-family: "Cera Pro Regular";
    font-size: 18px;
    text-decoration: line-through;
}

div.page-nav{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-top: 90px;
}

div.page-nav button{
    border-radius: 4px;
    border: 1px solid #E5E5E5;
    cursor: pointer;
    color: #3D3D3D;
    font-family: "Cera Pro Regular";
    font-size: 18px;
    padding: 9px 11px;
    min-width: 43px;
}

.page-button.active{
    background: #46A358;
    color: #FFF;
    font-family: "Cera Pro Bold";
    font-size: 18px;
    cursor: pointer;
}

/* homework008 */
div.o-two{
    margin-top: 94px;
    display: flex;
    justify-content: space-around;
    gap: 28px;
}

div.o-two-card{
    padding: 37px 35px 46px;
    background: #FBFBFB;
    display: flex;
    flex-direction: column;
    align-items: end;
    position: relative;
}

h4{
    text-align: right;
    width: 40%;
    color: #3D3D3D;
    font-family: "Cera Pro Black";
    font-size: 18px; 
    text-transform: uppercase;
}

div.o-two-card > p{
    color: #727272;
    font-family: "Cera Pro Regular";
    font-size: 14px;
    width: 60%;
    text-align: right;
    margin-top: 9px;
}

div.o-two-card > button{
    padding: 11px 28px;
    margin-top: 25px;
    color: #FFF;
    font-family: "Cera Pro Medium";
    font-size: 14px;
    background-color: #46A358;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 6px;
}

div.o-two-card > img{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 292px;
}

section.blog{
    margin-top: 138px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header.header-blog{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h5{
    color: #3D3D3D;
    text-align: center;
    font-family: "Cera Pro Bold";
    font-size: 30px;
}

header.header-blog > p{
    margin-top: 15px;
    color: #727272;
    text-align: center;
    font-family: "Cera Pro Regular";
    font-size: 14px;
}
div.card-blog{
    margin-top: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 43px;
}

div.card-content{
    display: flex;
    flex-direction: column;
    
}

img.img-blog{
    width: 268px;
}

div.card-content-text{
    display: flex;
    flex-direction: column;
    align-items: self-start;
    max-width: 268px;
    padding: 9px 15px;
}

span.content-data{
    color: #46A358;
    font-family: 'Cera Pro Medium';
    font-size: 14px;
}

h6{
    margin-top: 4px;
    color: #3D3D3D;
    font-family: "Cera Pro Bold";
    font-size: 20px;
}

p.content-review{
    margin-top: 4px;
    color: #727272;
    font-family: "Cera Pro Regular";
    font-size: 14px;
}

button.button-content{
    margin-top: 9px;
    padding: 0;
    color: #3D3D3D;
    background: none;
    font-family: "Cera Pro Medium";
    font-size: 14px;
    display: flex;
    align-items: center;
    border: none;
    cursor: pointer;
}

button.button-content.active{
    color: #46A358;
}

button.button-content.active > svg path{
    fill: #46A358;
}