   /*

Thin       - 100
ExtraLight - 200
Light      - 300
Regular    - 400
Medium     - 500
SemiBold   - 600
Bold       - 700
ExtraBold  - 800
Black      - 900

   */

   
   @font-face {
        font-family: 'Cera Pro Regular';
        src: url('../fonts/CeraPro-Regular.eot');
        src: local('CeraPro-Regular'), local('CeraPro-Regular'),
            url('../fonts/CeraPro-Regular.eot?#iefix') format('embedded-opentype'),
            url('../fonts/CeraPro-Regular.woff2') format('woff2'),
            url('../fonts/CeraPro-Regular.woff') format('woff'),
            url('../fonts/CeraPro-Regular.ttf') format('truetype');
   }

    @font-face {
        font-family: 'Cera Pro Medium';
        src: url('../fonts/CeraPro-Medium.eot');
        src: local('CeraPro-Medium'), local('CeraPro-Medium'),
            url('../fonts/CeraPro-Medium.eot?#iefix') format('embedded-opentype'),
            url('../fonts/CeraPro-Medium.woff2') format('woff2'),
            url('../fonts/CeraPro-Medium.woff') format('woff'),
            url('../fonts/CeraPro-Medium.ttf') format('truetype');
   }

       @font-face {
        font-family: 'Cera Pro Bold';
        src: url('../fonts/CeraPro-Bold.eot');
        src: local('CeraPro-Bold'), local('CeraPro-Bold'),
            url('../fonts/CeraPro-Bold.eot?#iefix') format('embedded-opentype'),
            url('../fonts/CeraPro-Bold.woff2') format('woff2'),
            url('../fonts/CeraPro-Bold.woff') format('woff'),
            url('../fonts/CeraPro-Bold.ttf') format('truetype');
   }

        @font-face {
        font-family: 'Cera Pro Black';
        src: url('../fonts/CeraPro-Black.eot');
        src: local('CeraPro-Bold'), local('CeraPro-Black'),
            url('../fonts/CeraPro-Black.eot?#iefix') format('embedded-opentype'),
            url('../fonts/CeraPro-Black.woff2') format('woff2'),
            url('../fonts/CeraPro-Black.woff') format('woff'),
            url('../fonts/CeraPro-Black.ttf') format('truetype');
   }

   
    div.container{
        padding: 30px 120px 52px;
        display: flex;
        flex-direction: column;
    }

    header.header{
        margin-bottom: 12px;
        display: flex;
        justify-content: space-between;
        align-items: start;
    }

    menu.menu{
        display: flex;
        gap: 50px;
    }

    li.menu-item{
        color: #3D3D3D;
        font-family: "Cera Pro Regular";
        font-size: 16px;
        padding: 8px 0px 25px;
        border-bottom: 3px solid transparent;
        list-style: none;
    }

    li.menu-item.active{
        font-family: "Cera Pro Bold";
        border-color: #46A358;
    }

    button.header-button{
        padding: 8px 17px;
        border-radius: 6px;
        background: #46A358;
        display: flex;
        align-items: center;
        gap: 4px;
        color: #FFFFFF;
        font-family: "Cera Pro Regular";
    }

    main.main{
        background: linear-gradient(98deg, rgba(245, 245, 245, 0.50) -23.46%, rgba(245, 245, 245, 0.50) 107.51%);
        display: flex;
        justify-content: space-between;
        align-items: start;
    }

    p.p-welcome{
        color: #3D3D3D;
        font-family: "Cera Pro Regular";
        line-height: 16px;
        letter-spacing: 1.4px;
        text-transform: uppercase;
        margin-top: 70px;
        margin-left: 40px;
    }

    h1{
        color: #3D3D3D;
        font-family: "Cera Pro Black";
        font-size: 70px;
        line-height: 70px;
        text-transform: uppercase;
        margin-top: 7px;
        margin-left: 40px;
    }

    span.span-greenword{
        color: #46A358;
    }

    p.p-text{
        color: #727272;
        font-family: "Cera Pro Regular";
        font-size: 14px;
        line-height: 24px;
        margin-top: 7px;
        margin-left: 40px;
    }

    button.shop-button{
        border-radius: 6px;
        background: #46A358;
        padding: 10px 27px;
        color: #FFF;
        font-family: "Cera Pro Bold";
        font-size: 16px;
        line-height: 20px;
        text-transform: uppercase;
        margin-top: 40px;
        margin-left: 40px;
    }

    .div-pictures{
        position: relative;
    }

    .img-small{
        position: absolute;
        z-index: 1;
        bottom: 0;
        left: 0;
    }